<script type="javascript">
  $('#enterprise-contact-modal').modal('show')
</script>

<div id="enterprise-contact-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="#enterprise-contact-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-center" id="myModalLabel">Can we help you?</h3>
      </div>
      <div class="modal-body">


       <form role="form">
    <div class="form-group">
      <label class="text-muted" for="exampleInputEmail1">What is your first and last name? <span class="required-form">*</span></label>
      <input type="first name" class="form-control" id="inputFirstName" placeholder="First & Last Name">
    </div>
    <div class="form-group">
      <label class="text-muted" for="exampleInputPassword1">What is your work email address? <span class="required-form">*</span></label>
      <input type="work email" class="form-control" id="inputWorkEmail" placeholder="Enter Work Email Address">
    </div>
    <div class="form-group">
      <label class="text-muted" for="exampleInputPassword1">What company do you work for?</label>
      <input type="company name" class="form-control" id="inputCompanyName" placeholder="Company name">
    </div>
    <div class="form-group">
      <label class="text-muted" for="exampleInputPassword1">What is your phone number?</label>
      <input type="phone number" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
    </div>
    <div class="form-group">
      <label class="text-muted" for="exampleInputPassword1">Message</label>
      <textarea type="message" class="form-control" id="inputMessage" rows="2" placeholder="Leave Message"></textarea>
    </div>
  </form>

      <div class="modal-footer">
         <button class="btn btn-block btn-success">Submit</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
