<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <div class="row">      
      <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-4 col-xs-6">
        <ul class="footer-links">
          <h4 class="">ElasticBox</h4>
          <li><a href="{{ page.base_url }}2.3.2/" track="">How It Works</a></li>
          <li><a href="{{ site.repo }}" track="">Why ElasticBox</a></li>
          <li><a href="{{ page.base_url }}" track="">Getting Started</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <ul class="footer-links">
          <h4 class="">Enterprise</h4>
          <li><a href="{{ page.base_url }}enterprise" track="">Features</a></li>
          <li><a href="{{ site.repo }}pricing" track="">Pricing</a></li>
          <li><a href="{{ page.base_url }}" track="">Case Studies</a></li>
          <li><a href="{{ page.base_url }}blog/enterprise" track="">Resources</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <ul class="footer-links">
          <h4 class="">Support</h4>
          <li><a href="support.elasticbox.com" track="">Documentation</a></li>
          <li><a href="mailto:support@elasticbox.com" track="">Email support</a></li>
          <li><a href="{{ page.base_url }}" track="">ElasticBox Status</a></li>
          <li><a href="{{ page.base_url }}" track="">Terms of Service</a></li>
        </ul>
      </div>
          <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
        <ul class="footer-links">
          <h4 class="">About</h4>
          <li><a href="{{ page.base_url }}blog" track="">Blog</a></li>
          <li><a href="{{ page.base_url }}about" track="">About ElasticBox</a></li>
          <li><a href="{{ page.base_url }}careers" track="">Careers</a></li>
          <li><a href="{{ page.base_url }}" track="">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
        {% include social-buttons.html %}
      </div> 
    </div>  
    <div class="row" style="margin-top:60px;">
      <div class="col-lg-12 text-center footer-cta">
        <h3 class="lead sub">Why wait? ElasticBox is free and powerful. Develop and Deploy apps in minutes.</h3>
        <button class="btn btn-primary btn-lg" href="#sign-up-modal" data-toggle="modal" data-target="#sign-up-modal">TRY FOR FREE</button>
      </div>
    </div>
    <div class="row">
      <a href="{{ page.base_url }}"><img class="footer-brand" src="https://dl.dropboxusercontent.com/u/11221717/elasticbox-flat-dark-footer.svg"></img></a>
      <div class="footer-legal pull-right">&#169 ElasticBox 2014. All rights reserved.</div>
    </div>
  </div>  
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


