<script type="javascript">
  $('#sign-up-modal').modal('show')
</script>

<div id="sign-up-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="#sign-up-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content signup-form">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-center" id="myModalLabel">Try the free Developer Edition now.</h3>
        <h4 class="text-center">Deploy an application. Get a free t-shirt!</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary btn-block" id="github-signup" href="">
          <i class="fa fa-github" id="small-github-icon"></i>
          <span class="">SIGN UP WITH GITHUB</span>
        </button>
        <span class="divider hidden-xs">Or</span>
        <form role="form">
          <div class="form-group">
            <label class="text-muted" or="exampleInputEmail1">What's your name? <span class="required-form">*</span></label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="First & Last Name">
          </div>
          <div class="form-group">
            <label class="text-muted" for="exampleInputPassword1">What's your email address? <span class="required-form">*</span></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label class="text-muted" for="exampleInputPassword1">What password would you like to use? <span class="required-form">*</span></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
          </div>
        </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-primary">LETS GO!</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
