<script type="javascript">
  $('#signup-form-enterprise').modal('show')
</script>

<div id="signup-form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="#signup-form" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-center" id="myModalLabel">Don't wait. Try the free Developer Edition now.</h3>
      </div>
      <div class="modal-body">
        <h4 class="text-center">Deploy an application and get a free ElasticBox t-shirt</h4>

      <form role="form">
        <div class="form-group">
          <label for="exampleInputEmail1">What's your name?</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="First & Last Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">What's your email address?</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">What password would you like to use?</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
        </div>
          <div class="form-group">
            <label for="exampleInputPassword1">What is your role at your organization?</label>
            <select class="form-control">
              <option>CIO</option>
              <option>CTO</option>
              <option>Developer</option>
              <option>IT</option>
              <option>DevOps</option>
            </select>
          </div>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
